body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #333;
}


/* Header */
.mw-logo {
    width: 230px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

    .mw-main-header {
        background-color: #232323;
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        border-top: solid 5px #f7c600;
    }

/*Canvas style*/
.mw-col {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border: solid 2px #ffffff8c;
    background-color: #b7b7b7;
    cursor: default;
    transition: all .5s ease;
    background-repeat: no-repeat;
    margin: 2px;
    border-radius: 6px;
    color: transparent;
    line-height: 21px;
}

    .mw-col.selected {
        background-color: #ffffff;
        border: solid 2px #c3c3c3;
    }

    .mw-col.selected-over {
        background-color: red;
    }

    .mw-col:hover {
        border: solid 2px #999;
        position: relative;
    }
    .mw-col.mw-neighbors-1 {
        color: blue;
    }
    .mw-col.mw-neighbors-2 {
        color: green;
    }
    .mw-col.mw-neighbors-3,
    .mw-col.mw-neighbors-4,
    .mw-col.mw-neighbors-5,
    .mw-col.mw-neighbors-6,
    .mw-col.mw-neighbors-7,
    .mw-col.mw-neighbors-8 {
        color: red;
    }

    .mw-col:not(.selected) {
        color: transparent;
        background-image: none;
    }

/*Mine style*/
.mw-mine-true {
    background-image: url(../img/bomb.gif);
    background-size: 139%;
    background-position: center;
}

/*flagged*/
.mw-col.flagged {
    background-image: url(../img/flag.png);
    color: transparent;
    background-size: cover;
}

/*Block game over*/
.mw-canvas-container {
    position: relative;
}

    #mw-canvas-block.active {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

