body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.mw-col {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    outline: solid 2px #ffffff;
    background-color: #c3c3c3;
    cursor: default;
    transition: all .5s ease;
}

    .mw-col.selected {
    	background-color: #ffffff;
    	outline: solid 1px #c3c3c3;
    }

.mw-mine-true {
    background-image: url(../img/bomb.gif);
    background-size: 139%;
    background-position: center;
}